<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Specialization</title>
</head>
<body>
<form method="post">
     <textarea name="name" id="name" class="form-control" placeholder="name"></textarea></br>
     <textarea name="how_it_works" id="how_it_works" class="form-control" placeholder="how_it_works"></textarea></br>
    <textarea name="faq" id="faq" class="form-control" placeholder="faq"></textarea></br>
    <textarea name="course_pk" id="course_pk" class="form-control" placeholder="course_pk"></textarea></br>
    <textarea name="instructor_pk" id="instructor_pk" class="form-control" placeholder="instructor_pk"></textarea></br>
    <textarea name="rating_pk" id="rating_pk" class="form-control" placeholder="rating_pk"></textarea></br>
    <input type="submit" class="btn btn-success" value="Create"></br>
</form>
</body>
</html>