<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment Update</title>
</head>
<body>
      <form method="post">0
    <textarea name="data" id="data" class="form-control" placeholder={{comment.data}}></textarea></br>
    <textarea name="author" id="author" class="form-control" placeholder={{comment.author}}></textarea></br>
    <textarea name="comment" id="comment" class="form-control" placeholder={{comment.comment}}></textarea></br>
        <input type="submit" class="btn btn-success" value="Update"></br>
    </form>
</body>
</html>