<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Rating</title>
</head>
<body>
<form method="post">
    <textarea name="data" id="data" class="form-control" placeholder="data"></textarea></br>
    <textarea name="author" id="author" class="form-control" placeholder="author"></textarea></br>
    <textarea name="comment" id="comment" class="form-control" placeholder="comment"></textarea></br>
    <input type="submit" class="btn btn-success" value="Create"></br>
</form>
</body>
</html>