<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week Update</title>
</head>
<body>
      <form method="post">
 <textarea name="hours" id="hours" class="form-control" placeholder={{week.hours}}></textarea></br>
    <textarea name="name" id="name" class="form-control" placeholder={{week.name}}></textarea></br>
    <textarea name="description" id="form-control" class="description" placeholder={{week.description}}></textarea></br>
    <textarea name="videos" id="videos" class="form-control" placeholder={{week.videos}}></textarea></br>
    <textarea name="readings" id="readings" class="form-control" placeholder={{week.readings}}></textarea></br>
    <textarea name="quizzes" id="quizzes" class="form-control" placeholder={{week.quizzes}}></textarea></br>
        <input type="submit" class="btn btn-success" value="Update"></br>
    </form>
</body>
</html>