<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Week</title>
</head>
<body>
<form method="post">
    <textarea name="hours" id="hours" class="form-control" placeholder="hours"></textarea></br>
    <textarea name="name" id="name" class="name" placeholder="name"></textarea></br>
    <textarea name="description" id="description" class="description" placeholder="description"></textarea></br>
    <textarea name="videos" id="videos" class="videos" placeholder='["video_url"]'></textarea></br>
    <textarea name="readings" id="readings" class="readings" placeholder='["reading_url"]'></textarea></br>
    <textarea name="quizzes" id="quizzes" class="quizzes" placeholder='["quizz_url"]'></textarea></br>
    <input type="submit" class="btn btn-success" value="Create"></br>

</form>
</body>
</html>