<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Update</title>
</head>
<body>
      <form method="post">
    <textarea name="name" id="name" class="form-control" placeholder={{course.name}}></textarea></br>
    <textarea name="faq" id="faq" class="form-control" placeholder={{course.faq}}></textarea></br>
    <textarea name="instructor_pk" id="instructor_pk" class="form-control" placeholder={{course.instructor_pk}}></textarea></br>
    <textarea name="syllabus_pk" id="syllabus_pk" class="form-control" placeholder={{course.syllabus_pk}}></textarea></br>
    <textarea name="rating_pk" id="rating_pk" class="form-control" placeholder={{course.rating_pk}}></textarea></br>
    <textarea name="comment_pk" id="comment_pk" class="form-control" placeholder={{course.comment_pk}}></textarea></br>
        <input type="submit" class="btn btn-success" value="Update"></br>
    </form>
</body>
</html>