<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Update</title>
</head>
<body>
      <form method="post">
    <textarea name="name" id="name" class="form-control" placeholder={{instructor.name}}></textarea></br>
    <textarea name="bio" id="bio" class="form-control" placeholder={{instructor.bio}}></textarea></br>
    <textarea name="course_ids" id="course_ids" class="form-control" placeholder={{instructor.course_ids}}></textarea></br>
    <textarea name="social_networks" id="social_networks" class="form-control" placeholder={{instructor.social_networks}}></textarea></br>
        <input type="submit" class="btn btn-success" value="Update"></br>
    </form>
</body>
</html>